{% load bootstrap3 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% if title %}
    <title>My Gallery -{{title}}</title>
    {% else %}
    <title>My Gallery</title>
    {%endif%}
    {% block style %}
    {% bootstrap_css %}
        <link rel="stylesheet" href="{% static 'css/basegallery.css' %}">
    {% endblock %}
   

</head>
<body>
    {% include "navbar.html" %}
    {% block content %}{% endblock %}
    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 {% bootstrap_javascript %}
{% endblock %}
</body>
</html>