
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.11.0/css/mdb.min.css" rel="stylesheet">

        <nav class="navbar  navbar-default navbar-fixed-top navbar-expand-lg " style="margin: 0%; background-color: #fcbf49;">
          <a class="navbar-brand" href="/"style="font-size:20px;color:white;font-weight:bold">JOSE-GALLERY</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}"style="font-size:20px;color:white;font-weight:bold">Home <span class="sr-only"></span></a>
              </li>

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size:20px;color:white;font-weight:bold">
                    Locations
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for location in locations %}
                    <a style="font-size: 20px;" class="dropdown-item" href="/location/{{location.location_name}}">{{location.location_name}}</a>
                    <div class="dropdown-divider"></div>
                  {% endfor %}
                </div>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size:20px;color:white;font-weight:bold">
                    Categories
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for category in categories %}
                    <p class="dropdown-item" style="font-size: 20;">{{category.category_name}}</p>
                    <div class="dropdown-divider"></div>
  
                  {% endfor %}
                </div>
                
                </li>

            </ul>
            <form class="form-inline my-2 my-lg-0" action="{% url 'search_results' %}">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" name="images" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit"style="font-size:20px;color:black;font-weight:bold">Search Category</button>
            </form>
          </div>
        </nav>
<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.11.0/js/mdb.min.js"></script>
